.header{
    position:relative;
    top: 0;
    height:18vh;
    min-width:96vw;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    background-size: contain;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%222000%22 height=%221400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%233e6377%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%236e8a99%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%2363a4bb%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%238abacc%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%2389e4fe%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23a6eafe%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%23182334%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cpath d=%22M0 350c33.695 1.535 67.39 3.07 100 6s64.135 7.252 97 6c32.865-1.252 67.07-8.08 102-11 34.93-2.92 70.586-1.93 103-4 32.414-2.07 61.588-7.197 95-10s71.063-3.282 105 1 64.16 13.324 97 16 68.3-1.014 102-3 65.64-2.269 99-1c33.36 1.269 68.142 4.089 102 1 33.858-3.089 66.791-12.087 99-7s63.693 24.26 97 22c33.307-2.26 68.439-25.954 102-31 33.561-5.046 65.553 8.557 99 13s68.348-.272 102-6 66.053-12.469 99-10c32.947 2.469 66.44 14.146 99 19 32.56 4.854 64.19 2.884 98-1s69.803-9.681 104-10c34.197-.319 66.598 4.84 139 10l-40 1050H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 700c34.442-4.836 68.885-9.673 102-8 33.115 1.673 64.903 9.855 97 15 32.097 5.145 64.502 7.253 98 3 33.498-4.253 68.087-14.867 102-15 33.913-.133 67.148 10.216 100 13 32.852 2.784 65.32-1.997 99-5 33.68-3.003 68.574-4.228 102-6 33.426-1.772 65.384-4.091 98-2s65.89 8.593 100 15 69.059 12.72 102 6c32.941-6.72 63.876-26.472 97-34 33.124-7.528 68.438-2.833 103 6s68.372 21.804 101 25c32.628 3.196 64.074-3.384 97-10s67.333-13.269 101-17 66.593-4.541 100 0 67.295 14.434 101 13c33.705-1.434 67.228-14.194 101-16 33.772-1.806 67.792 7.341 101 12s65.604 4.83 138 5l-40 700H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 1050c31.73-.91 63.46-1.821 97-3s68.888-2.626 103 2c34.112 4.626 66.987 15.327 100 13 33.013-2.327 66.164-17.681 99-21 32.836-3.319 65.358 5.399 98 9 32.642 3.601 65.404 2.087 100 6 34.596 3.913 71.027 13.253 105 8s65.487-25.098 98-29c32.513-3.902 66.025 8.14 100 14 33.975 5.86 68.412 5.54 102 4 33.588-1.54 66.327-4.3 99-2s65.282 9.659 99 14c33.718 4.341 68.547 5.664 102-1s65.531-21.316 99-21c33.469.316 68.33 15.601 101 23 32.67 7.399 63.152 6.91 96-1s68.062-23.244 102-25c33.938-1.756 66.599 10.066 99 10 32.401-.066 64.543-12.019 98-14 33.457-1.981 68.228 6.01 143 14l-40 350H0Z%22 fill=%22url(%23c)%22%2F%3E%3C%2Fsvg%3E");
  }

  .logo {
    max-height: 10vh;
    border-radius: 500px;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em --secondary);
  }
  
  .title{
    font-size: 0.8rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .links {
  display: flex;
  justify-content: space-evenly;
  }
  .links a {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary);
    text-decoration: inherit;
  }
  .links a:hover {
    color: white;
  }

  .magicpattern { 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%222000%22 height=%221400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%233e6377%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%236e8a99%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%2363a4bb%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%238abacc%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%2389e4fe%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23a6eafe%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%23182334%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cpath d=%22M0 350c33.695 1.535 67.39 3.07 100 6s64.135 7.252 97 6c32.865-1.252 67.07-8.08 102-11 34.93-2.92 70.586-1.93 103-4 32.414-2.07 61.588-7.197 95-10s71.063-3.282 105 1 64.16 13.324 97 16 68.3-1.014 102-3 65.64-2.269 99-1c33.36 1.269 68.142 4.089 102 1 33.858-3.089 66.791-12.087 99-7s63.693 24.26 97 22c33.307-2.26 68.439-25.954 102-31 33.561-5.046 65.553 8.557 99 13s68.348-.272 102-6 66.053-12.469 99-10c32.947 2.469 66.44 14.146 99 19 32.56 4.854 64.19 2.884 98-1s69.803-9.681 104-10c34.197-.319 66.598 4.84 139 10l-40 1050H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 700c34.442-4.836 68.885-9.673 102-8 33.115 1.673 64.903 9.855 97 15 32.097 5.145 64.502 7.253 98 3 33.498-4.253 68.087-14.867 102-15 33.913-.133 67.148 10.216 100 13 32.852 2.784 65.32-1.997 99-5 33.68-3.003 68.574-4.228 102-6 33.426-1.772 65.384-4.091 98-2s65.89 8.593 100 15 69.059 12.72 102 6c32.941-6.72 63.876-26.472 97-34 33.124-7.528 68.438-2.833 103 6s68.372 21.804 101 25c32.628 3.196 64.074-3.384 97-10s67.333-13.269 101-17 66.593-4.541 100 0 67.295 14.434 101 13c33.705-1.434 67.228-14.194 101-16 33.772-1.806 67.792 7.341 101 12s65.604 4.83 138 5l-40 700H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 1050c31.73-.91 63.46-1.821 97-3s68.888-2.626 103 2c34.112 4.626 66.987 15.327 100 13 33.013-2.327 66.164-17.681 99-21 32.836-3.319 65.358 5.399 98 9 32.642 3.601 65.404 2.087 100 6 34.596 3.913 71.027 13.253 105 8s65.487-25.098 98-29c32.513-3.902 66.025 8.14 100 14 33.975 5.86 68.412 5.54 102 4 33.588-1.54 66.327-4.3 99-2s65.282 9.659 99 14c33.718 4.341 68.547 5.664 102-1s65.531-21.316 99-21c33.469.316 68.33 15.601 101 23 32.67 7.399 63.152 6.91 96-1s68.062-23.244 102-25c33.938-1.756 66.599 10.066 99 10 32.401-.066 64.543-12.019 98-14 33.457-1.981 68.228 6.01 143 14l-40 350H0Z%22 fill=%22url(%23c)%22%2F%3E%3C%2Fsvg%3E");
  }
  
  
  
  