.heroBanner{
    display: flex;
    min-width: 100vw;
    color: white;
    background-color: var(--primary);
    margin: 0;
    padding: 0;


}

.heroBanner img{
    width: 40vw;
    max-height: 20vw;
    object-fit: cover;
}

.heroBanner h2{

    margin: auto;
    height:10%;
}