.heroBanner {
    min-height: 80vh;
    min-width: 100vw;
    position: relative;
}

.heroBanner img{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    max-height: 80vh;
    object-fit: cover;
    z-index: -1;
}

.heroBanner .overlay{
    position: absolute;
    color: white;
    left: 8vw;
    bottom: 8vh;
    margin:0;
    display: flex;
    flex-direction: column;
    vertical-align: bottom;

}

.heroBanner h2{
    font-size: 3rem;
    margin: 0;
}

.heroBanner button{
    font-size: 1.5rem;
    border-color: var(--primary);
    border-width: 3px;
    background-color: var(--secondary);
}